:root{
    --bg--color:#0A0E23;
    --bg--second--color:#1C1F2A;
    --text--principal--color:#FFD700 ;
    --text--secondary--color:#F4F4F4;
}
*{
    box-sizing: border-box;
    text-decoration: none;
    color: var(--text--secondary--color);
}
body{
    margin: auto;
    padding: auto;
    font-family: Inter ;
    font-weight: normal;
    font-size: 18px;
    background-color: var(--bg--color);
    color: var(--text--secondary--color);
}
img{
    display: block;
    width: 400px;

}


h1,h2,h3{
    
    color: var(--text--principal--color);
}
.header-container{
    position: fixed;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    padding: 0 5%;
    background-color: var(--bg--second--color);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4)

}

/*logo*/


.logo{
    font-size: 2.5rem;
    font-weight: bold;
    font-family: Orbitron;
    text-shadow: 0 0 10px #FFD700;
    color: #D4AF37;
}


/*barre de bavigation*/


.nav-barre{
    display: flex;
    gap: 20px;
    
    
}
.nav-barre a{
    color: #F4F4F4;
    transition: color 0.3s;
    border-bottom: 4px solid transparent;
    font-weight: bold;
}
.nav-barre a:hover{
    color: #FFD700 ;
    text-shadow: 0 0 10px #FFD700;
    border-bottom: 4px solid #FFD700;
    
}
.nav-barre i {
    color: gold;
    margin-right: 8px;
    font-size: 18px;
    transition: transform 0.3s ease;
}
  
.nav-barre i:hover {
    transform: scale(1.2);
    color: #f0c330;
}

/*section accueil*/
  
.accueil{
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.accueil-img img{
    padding: 30px;
    width: 350px;
   
}
.accueil-text{
    font-size: 20px;
}
.accueil-text h3{
    text-align: center;
    text-shadow: 0px 0px 10px #D4AF37;
    font-size: 2rem;
}

.accueil-text{
    padding: 50px;
}
.accueil-text p{
    padding: 10px;
}
button{
    margin: 50px;
    border: 2px solid #D4AF37;
    border-radius: 8px;
    background-color: #D4AF37;
    color: black;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    font-size: 16px;

}
button a{
    color: #000;
}
button:hover{
    border: 2px solid var(--text--secondary--color);
    background-color: #F4DF50;
    color: black;

}
.button-container{
    padding: 20px;
    display: flex;
    justify-content: space-around;
}

/*section à propos*/

.about{
    padding:70px ;
}
.about-title{
    font-size: 2rem;
    font-weight: bold;
    text-shadow: 0px 2px 10px #D4AF37;
    text-align: center;
}
.about-container i{
    color: gold;
    margin-right: 8px;
    font-size: 18px;
    transition: transform 0.3s ease;
}
.about-container i:hover{
    transform: scale(1.2);
    color: #f0c330;
}
.about-container h2{
    padding: 20px;
    margin: 10px;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    text-shadow: 0px 2px 10px #D4AF37;
}

/*sous-section qui suis-je*/


.myself{
    display: flex;
    justify-content: space-between;
    padding: 50px;
    margin: 50px;

    height: 100vh;
}
.myself-img{
    padding: 30px;
}
.myself-text{
    padding: 30px;

}




/*sous-section qualités*/



.academia-container{
    font-size: 16px;
    height: 100vh;
}


.quality-container1{
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    padding-bottom: 20px;
}
.quality-container2{
    margin-top: 20px;
    padding-top: 20px;
    display: flex;
    justify-content: space-around;
    
}
.quality-items{
    padding: 30px;

}


/* sous-section parcours*/


.parcours-container{
    display: flex;
}

/*sous-section passion pour informatique*/


.passion-container{
    display: flex;
    height: 100vh;
    padding: 30px;
}
.passion-img{
    padding-right: 100px;
}

/* section competences*/


.competences{
    padding: 60px;
 
}
.competences h1{
    font-size: 2rem;
    font-weight: bold;
    text-shadow: 0px 2px 10px #D4AF37;
    text-align: center;
}
.competences i{
    color: gold;
    margin-right: 8px;
    font-size: 18px;
    transition: transform 0.3s ease;
}
.competences i:hover{
    transform: scale(1.2);
    color: #f0c330;
}
.competences-container {
    max-width: 600px;
    margin: 2rem auto;
    color: #fff;
  }
  
.competence-item {
    margin-bottom: 1rem;
  }
  
.bar-container {
    background-color: #444;
    border-radius: 10px;
    overflow: hidden;
    height: 20px;
}
  
.bar {
    height: 100%;
    background: linear-gradient(to right, #FFD700, #FFA500); 
    text-align: right;
    padding-right: 10px;
    line-height: 20px;
    font-weight: bold;
    color: #000;
}


/*section projet (réalisations) */


.projet{
    height: 100vh;
    padding: 60px;
}
.projet h1{
    font-size: 2rem;
    font-weight: bold;
    text-shadow: 0px 2px 10px #D4AF37;
    text-align: center;
}
.projet-description img{ 
    width: 200px;
}


.projet-container{
    display: grid;
    padding: 70px;
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;
}
.projet-description {
    position: relative;
    width: 300px;
    height: 400px;
    overflow: hidden;
    z-index: 20;
}
  
.projet-description img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
   
}
  
.description {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    opacity: 0;
    transition: opacity 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem;
}
.projet-description:hover{
    box-shadow: 0px 2px 10px #D4AF37;
}
.projet-description:hover .description{
    opacity: 1;
}
.projet-description h4{
    color: #D4AF37;
    text-shadow: 0px 2px 7px #f0c330;
}
.projet-description i{
    color: gold;
    margin-right: 8px;
    font-size: 20px;
    transition: transform 0.3s ease;
}
.projet-description i:hover{
    transform: scale(1.2);
    color: #f0c330;
}

/* Section hobbies*/

.hobbies{
    height: 100vh;
    padding: 70px;
}
.hobbies h1{
    font-size: 2rem;
    font-weight: bold;
    text-shadow: 0px 2px 10px #D4AF37;
    text-align: center;
}

.hobbies i{
    color: gold;
    margin-right: 8px;
    font-size: 18px;
    transition: transform 0.3s ease;
}
.hobbies i:hover{
    transform: scale(1.2);
    color: #f0c330;
}
.hobbies-container{
    display: flex;
    
}
/*section contact*/
.contact{

    padding: 70px;

}

.contact h1{
    font-size: 2rem;
    font-weight: bold;
    text-shadow: 0px 2px 10px #D4AF37;
    text-align: center;
}
/* Formulaire de contact*/

.formulaire{
    padding: 60px;
}
form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 500px;
    margin: auto;
    padding: 2rem;
    background-color: #1c1c1c;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(255, 215, 0, 0.3); 
  
}
  
input, textarea {
    padding: 1rem;
    border: 1px solid #444;
    border-radius: 8px;
    background-color: #2a2a2a;
    color: #fff;
    font-size: 1rem;
    transition: border 0.3s ease;
}
  
input:focus, textarea:focus {
    border: 1px solid #FFD700; 
    outline: none;
}
  
.button {
    padding: 1rem;
    background-color: #FFD700;
    color: #1c1c1c;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
  
.button:hover {
    background-color: transparent;
    border:1px solid #D4AF37;
    color: #D4AF37;
}

/* pied de page*/

.footer{
   
    height: 150px;
    background-color: var(--bg--second--color);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.contact-container{
    display: flex;
    gap: 20px;
    justify-content: space-between;
}
.contact-container i{
    color: gold;
    margin-right: 8px;
    font-size: 60px;
    transition: transform 0.3s ease;
}
.contact-container i:hover{
    transform: scale(1.2);
    color: var(--text--secondary--color);
}